/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
}

.overlay
{
	height:100%;
	width:100%;
	position:fixed;
	left:0;
	top:0;
	z-index:1 !important;
	background-color:grey;
}

.content
{
	margin: 60px auto;
	width: 50%;
	padding: 20px;
	position: relative;
	border-style: double;
	border-width: 10px;
	background-color: white;
}
