
<div class="addTaskModal">
	<div class="modal-header">
		<h3><center>New Task</center></h3>
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>		
	</div>
	<hr />
	<div class="modal-body">
		<form name="newTaskForm">
	    <fieldset>
	        <div style="float: left;">
	        <label for="taskContent">Content</label>
	        </div>
	        <div style="margin-left: 80px;">
	        <input id="taskContent" type="text" required placeholder="Your Task Content..." ng-model="task.Content" />
	        </div>
	        <div style="float: left;">
	        <label for="taskStatus">Status</label>
	        </div>
	        <div style="margin-left: 80px;">
	        <input id="taskStatus" type="text" required placeholder="Your Task Status..."  ng-model="task.Status" />
	    	</div>
	    </fieldset>	    
		</form>
	</div>  
	<div class="modal-footer">
		<button type="submit" class="btn btn-primary" ng-disabled="newTaskForm.$invalid" ng-click="saveTask(task,newTaskForm);hide()">Submit</button>
	    <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>	    
	</div>      

</div>

	