<div>
	<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	<h3 ng-show="!task.Content">Task not found</h3>
	<h3 ng-show="task.Content">Task: {{task.Content}}</h3>
	</div>
	<form class="form-horizontal" name="taskForm">
		<div class="modal-body">
			<div class="control-group">
			<label class="control-label">Content:</label>
			<div class="controls">
			<input type="text" ng-model="task.Content" placeholder="Task content" required/>
			</div>
			</div>
			<div class="control-group">
				<label class="control-label">Created Date:</label>
				<div class="controls">
					{{task.CreatedDate | date:'yyyy-MM-dd HH:mm:ss Z'}}
				</div>
			</div>
			<div class="control-group">
			<label class="control-label">Status:</label>
			<div class="controls">
			<input type="text" ng-model="task.Status" placeholder="Task status" required/>
			</div>
			</div>
			</div>
			<div class="modal-footer">
			<button type="button" class="btn pull-left" ng-click="hide()">
			<i class="icon-remove"></i>Cancel
			</button>
			<button type="submit" class="btn btn-primary" ng-click="updateTask(task)">
<!--</button>			<button type="submit" class="btn btn-primary" ng-click="modal.saved=true;saveTask(task);hide()">
-->			<i class="icon-ok icon-white"></i>Save Changes
			</button>
			<button type="button" class="btn pull-right btn-danger" ng-click="deleteTask(task)">
			<i class="icon-remove"></i>Delete
			</button>
		</div>
	</form>
</div>