<div>
	<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	<h3 >Create New Task</h3>
	</div>
	<form class="form-horizontal" name="taskForm">
		<div class="modal-body">
			<div class="control-group">
			<label class="control-label">Content:</label>
			<div class="controls">
			<input type="text" ng-model="task.Content" required placeholder="Task content" />
			</div>
			</div>
			<div class="control-group">
			<label class="control-label">Status:</label>
			<div class="controls">
			<input type="text" ng-model="task.Status" required placeholder="Task status" />
			</div>
			</div>
			</div>
			<div class="modal-footer">
			<button type="button" class="btn pull-left" ng-click="hide()">
			<i class="icon-remove"></i>&nbsp;&nbsp;Cancel
			</button>
			<button type="submit" class="btn btn-primary" ng-click="addTask(task); hide()">
<!--</button>			<button type="submit" class="btn btn-primary" ng-click="modal.saved=true;saveTask(task);hide()">
-->			<i class="icon-ok icon-white"></i>&nbsp;&nbsp;Save Changes
			</button>
		</div>
	</form>
</div>