Add New Task

<form ng-submit="submit()">
	<table>
		<tr>
			<td>
				Content:
			</td>
			<td>
				<input type="text" ng-model="newTaskDetails.Content" required="required" value = "Type in Content" ng-bind="newTaskDetails.Content">
			</td>
			<td>
				{{newTaskDetails.Content}}
			</td>
		</tr>
		<tr>
			<td>
				Status:
			</td>
			<td>
				<input type="text" ng-model="newTaskDetails.Status" value="Type in Status Here" ng-bind="newTaskDetails.Status">
			</td>
			<td>
				{{newTaskDetails.Status}}
			</td>
		</tr>
		<tr>
			<td>
				Due Date:
			</td>
			<td>
				<input type="date" ng-model="newTaskDetails.DueDate" min='0' ng-bind"newTaskDetails.DueDate">
			</td>
			<td>
				{{newTaskDetails.DueDate}}
			</td>
		</tr>
		<tr>
			<td>
				<input type="submit" value="Submit">
			</td>
			<td>
				<button type="button" ng-click="cancel()">Cancel</button>
			</td>
		</tr>
	</table>
</form>
<br/>
<br/>