<button type="button" class="btn" ng-click="add()">
	New Task
</button>
<br>
<div ng-show="tasks.length==0">
	No Tasks
</div><br>
<table class='table-striped' ng-hide="tasks.length==0">
	<tr>
		<th>Content</th>
		<th>Status</th>
		<th>Created Date</th>
		<th>Edit</th>
	</tr>
	<tr ng-repeat="task in tasks|orderBy:'CreatedDate'">
		<td>{{task.Content}}</td>
		<td>{{task.Status}}</td>
		<td>{{task.CreatedDate | date:'MMM dd yyyy' }}</td>
		<td>
			<button class="btn" ng-click="edit(task)">
				Edit
			</button>
		</td>
		<td ng-hide='true'>{{task._id}}</td>
	</tr>
</table>

<div class="hidden" id='popup'>
	<form name="popupBox">
	<div>
		<h2>{{title}}</h2>
	</div>
	<table>
		<tr>
			<td>Content</td>
			<td><textarea required ng-model="content" placeholder="Content"></textarea></td>
			<td>{{popupBox.input.$valid}}</td>
			<td ng-hide='true'><input type='hidden' ng-model="_id" value=''/></td>
			<td ng-hide='true'><input type='hidden' ng-model="createddate" value=''/></td>
		</tr>
		<tr>
			<td>Status</td>
			<td>
			<select required ng-model="status">
				<option>Complete</option>
				<option>Incomplete</option>
			</select></td>
			<td>{{popupBox.input.$valid}}</td>
		</tr>
		<tr>
			<td>
			<button class="btn" ng-click="cancel()">
				Cancel
			</button></td>
			<td>
				<button ng-disabled="popupBox.$invalid" ng-show="title=='Add Task'" class="btn" ng-click="addtask()">
				Add
				</button>
				
				<button ng-disabled="popupBox.$invalid" ng-show="title=='Edit Task'" class="btn" ng-click="save()">
				Save
				</button>
			
			</td>
		</tr>
	</table>
	</form>
</div>