
<div class="">
	<form>
		<label>Task:</label> <input type="text" ng-model="newTask.Content" ng-required="true"/>
		<span>*</span>
		<label>Status:</label>
		<select ng-model="newTask.Status">
	  		<option value="Incomplete">Incomplete</option>
			<option value="Complete">Complete</option>
		</select>
		
		<span>Fill in the required fields.</span>
		<button ng-click="addNewTask()">Add Task</button>
		
		<button ng-click="cancel()">Cancel</button>
	</form>
</div>

<table>
	<thead>
		<th>Task</th>
		<th>Status</th>
		<th>Created</th>
	</thead>
	<tbody>
		<tr ng-repeat="task in tasks | orderBy:'CreatedDate'" id="task_{{task._id}}">
			<td>{{task.Content}}</td>
			<td>{{task.Status}}</td>
			<td>{{task.CreatedDate | date:'medium'}}</td>
		</tr>
		<tr ng-hide="tasks.length">
			<td colspan="3">
				There are no tasks :)
			</td>
		</tr>
	</tbody>
</table>

