<div class="">
	<div class="modal-header">
		<button class="close" type="button" data-dismiss="modal" aria-hidden="true" ng-click="cancelSaveTaskDialog(); hide()">x</button>
		<h3 ng-show="true">Create New Task</h3>
	</div>
	<form name="myForm" class="form-horizontal">
		
		<div class="modal-body">
			<label>Task:</label> <input type="text" ng-model="newTask.Content" /><br/>
			<!--<span ng-show="myForm.input.$error.required">*</span>-->
			<label>Status:</label>
			<select ng-model="newTask.Status">
		  		<option value="Incomplete">Incomplete</option>
				<option value="Complete">Complete</option>

			</select>

			<label>Owner:</label>
			<select ng-model="newTask.Owner" required>				
				<option ng-selected="newTask.Owner == (teamMember.FirstName + ' ' + teamMember.LastName)" 
				ng-repeat="teamMember in teamMembers | orderBy:'FirstName'" 
				value="{{teamMember.FirstName}} {{teamMember.LastName}}">
					{{teamMember.FirstName}} {{teamMember.LastName}}</option>
			</select>
			<!--<span ng-show="myForm.input.$error.required">*</span>-->
<br/>
			<br/>
			<div class="control-group input-append">
			<label class="">Due:</label> <input class="" type="date" ng-model="newTask.dueDatePart" maxlength="10" data-date-format="mm/dd/yyyy" /> 
		
</div>
<div class="control-group input-append">					
					<input type="text" ng-model="newTask.dueTimePart" class="input-small" bs-timepicker>
  <button type="button" class="btn" data-toggle="timepicker"><i class="icon-time"></i></button>
			
		</div>
			<br/>
			<button ng-click="saveTask(); hide()"  >Add Task</button>
			
			<button ng-click="cancelSaveTaskDialog(); hide()">Cancel</button>
		</div>
	</form>
</div>