<button type="button" class="btn" ng-click="add()">New Task</button>
<br>
<div>{{message}}</div>
<table ng-hide="tasks.length==0">
	<tr>
		<th>Content</th>
		<th>Status</th>
		<th>Created Date</th>
		<th>Edit</th>
	</tr>
	<tr ng-repeat="task in tasks">
		<td>{{task.Content}}</td>
		<td>{{task.Status}}</td>
		<td>{{task.CreatedDate}}</td>
		<td><button ng-click="edit()">Edit</button></td>
	</tr>
</table>

<div class="hidden" id='popup' >
	<form>
		<table>
			<tr>
				<td>Content</td>
				<td><textarea placeholder="Content"></textarea></td>
			</tr>
			<tr>
				<td>Status</td>
				<td>
					<select>
						<option>Complete</option>
						<option>Incomplete</option>
					</select>
				</td>
			</tr>
			<tr>
				<td><button ng-click="cancel()">Cancel</button></td>
				<td><button ng-click="">Add</button></td>
			</tr>
		</table>
	</form>
</div>
<script>
  	$('.btn').click(function(){$('#popup').removeClass('hidden');$('#popup').addClass('overlay');});
  	
  </script>