<h2>Tasks :</h2>
<br />
<button class="btn btn-large btn-success" type="button" ng-click="displayOverlay('add task')">
	<i class="icon-user"></i>&nbsp;Add new task
</button>
<br /><br />
<div ng-switch on="hasData">
	<div class="TasksList" ng-switch-when="true">
		<pre ng-repeat="task in tasks | orderBy:'CreatedDate'">
			<div class="wrapper">
				<div class="btnContainer">
					<button class="btn" style="width:85px;" ng-click="editTask(task)"><i class="icon-edit"></i>&nbsp;Edit</button>
					<button class="btn" ng-click="deleteTask(task)"><i class="icon-remove"></i>&nbsp;Delete</button>
				</div>
				<div class="taskDataContainer">
					<span>{{task.Content}} | {{task.Status}}</span>
				</div>
			</div>			
  		</pre>
  	</div>
  	<div class="message" ng-switch-when="false">{{message}}</div>
 </div>
 <div ng-show="errorMessage !=''" class="message">{{errorMessage}}</div>
 <div ng-show="showOverlay" class="overlay">
 	<div id="Content">
 		<div class="container content">
 			<form name="addTaskForm" id="newTaskForm">
 				<h2>Enter information for task:</h2>
 				<hr />
 				<fieldset>
		 			<label for="newTaskContent">Task Content:</label>
		 			<input id="newTaskContent" type="text" required ng-model="newTask.Content" placeholder="Content of your task..."/>
		 			
		 			<label for="newTaskStatus">Task Status:</label>
		 			<input id="newTaskStatus" type="text" required ng-model="newTask.Status" placeholder="Status of your task..."/>
	 			</fieldset>
	 			<br />
	 			<button type="submit" class="btn btn-primary" ng-click="saveTask(newTask)" ng-disabled="addTaskForm.$invalid">Submit</button>&nbsp;
		 		<button type="button" class="btn btn-primary" ng-click="hideOverlay()">Cancel</button>
 			</form>
 		</div>
 	</div>
 </div>