<p>	
	<button type="button" class="btn btn-primary ng-scope" 
    bs-modal="'partials/addTasks.html'" 
    data-toggle="modal">New Task</button>
</p>
<div class="tasks" style="padding-left:20px; padding-right:20px;">	
	<div ng-bind-html="errorMessage"></div>
	<ul>
	<pre ng-repeat="d in data | orderBy:'CreatedDate'">
		<table>
		<tr>
		<td style="width: 300px;"><div>{{d.Content}}</div></td><td style="width: 150px;"><div>{{d.Status}}</div></td><td style="width: 400px;"><div style="float: right;"><a class="btn" href="#"><i class="icon-edit"></i></a></div></td>	
		</tr>
		</table>
	</pre>		
	</ul>	
</div>
